<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>${PODS_DEVELOPMENT_LANGUAGE}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>KMExpectedPublicKeyHashBase64</key>
	<array>
		<string>ydPBE8Dt5JWaM2p0WJ1UeIVOHJi2cm6CJw2yhAyFEes=</string>
		<string>peaBI0brMWufaeuJKiSSJEoG1VU9GErrRGK9/CD4Vp8=</string>
		<string>b8kBuSFa39+YQj4rJmD1snHCS52WrOOtJBcLEaAFQak=</string>
		<string>eBImJZIk3VAZor3rKn3UGNQ6+q1fyRGOc4on7UfhdTM=</string>
		<string>+CqUUNjj8QE7EMiqeL6q8fMkJJt0mTNgmqqODRiwwF0=</string>
	</array>
	<key>NSPrincipalClass</key>
	<string></string>
</dict>
</plist>
